# Arquivos de aplicação compilados
*.apk
*.ap_
*.aab

# Arquivos para a VM dex
*.dex

# Arquivos de classe Java
*.class

# Arquivos gerados
bin/
gen/

# Arquivo de configuração local (caminho do SDK, etc)
local.properties

# Banco de dados de miniaturas do Windows
Thumbs.db

# Arquivos do OSX
.DS_Store

# Android Studio
*.iml
.idea
.gradle
build/
.navigation
captures/
output.json

# NDK
obj/
.externalNativeBuild